/* ADMIN FORMS STYLE */
input[type='text'],
input[type='password']
{
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 17px;
	margin: 5px;
}

label
{
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 17px;
}
select
{
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 30px;
	width: 100%;
}

#new-item-img
{
	display: inline-block;
	width: 300px;
	height: 400px;
	float: left;
	margin-right: 20px;
}
#new-item-details
{
	display: inline-block;
	width: 100%;
}

#new-item-name,
#new-item-descr,
#new-item-price
{
	background-color: #FFFFFF;
	border: none;
	margin: 5px 0;
	width: 100%;
	font-family: "Roboto Condensed", Helvetica, sans-serif;
}
#new-item-name
{
	font-size: 40px;
}
#new-item-descr
{
	width: 80%;
	float: left;
	font-size: 30px;
	font-style: italic;
}
#new-item-price
{
	width: 20%;
	float: right;
	font-size: 30px;
}
#new-item-category
{
	font-size: 30px;
}
