/*************************************************************************************************/
/******************************************** INVOICE ********************************************/
/*************************************************************************************************/

html, body
{
	width: 100%;
	height: 100%;
	/*margin: 0;*/
	/*padding: 0;*/
}

*
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	page-break-before: avoid;
	page-break-after: avoid;
}

p
{
	font-family: 'Times New Roman', serif;
	font-weight: 300;
	font-size: 12px;
	line-height: 17px;
	text-align: center;
}

#invoice-header img
{
	width: 200px;
	margin-left: 250px;
}

#invoice-header p
{
	font-size: 15px;
	text-align: center;
	font-family: 'Times New Roman', serif;
}

#invoice-customer-details p
{
	margin-top: 20px;
	text-align: center;
}

#invoice-order-details
{
	width: 70%;
}

#invoice-nb
{
	font-family: 'Times New Roman', serif;
	font-weight: 300;
	font-size: 12px;
	text-align: center;
	margin: 20px 0;
}

.mint
{
	color: #BFFAA0; /*#7CFFB1;*/
}
.big
{
	font-size: 50px;
	line-height: 55px;
}

.fandc-details
{
	color: #777777;
}

/********************************************* TABLE *********************************************/

table#invoice-order
{
	/*display: inline-table;*/
	/**/
	width: 80%;
	margin: auto;
	border-collapse: collapse;
	page-break-inside: avoid;
	page-break-before: avoid;
	page-break-after: avoid;
}

table#invoice-order td
{
	font-family: 'Times New Roman', serif;
	font-weight: 300;
	font-size: 12px;
	padding: 10px 5px;
}

tr.table-header td
{
	border-bottom: 1px solid #000000;
}

tr#subtotal-row td,
tr#wholesale-row td,
tr#shipping-row td,
tr#total-row td
{
	height: 20px;
	font-family: 'Times New Roman', serif;
	font-weight: 300;
	font-size: 12px;
	padding: 0 20px;
}

tr#subtotal-row td
{
	border-top: 1px solid #000000;
	/*margin-top: 10px;*/
}

tr#total-row td.bordered
{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.center-col
{
	text-align: center;
}
.right-col
{
	text-align: right;
}
.width-50
{
	width: 50px;
}
