/laravel5.0/config/paypal.php
/laravel5.0/vendor
/laravel5.0/node_modules

/laravel5.0/.env
/laravel5.0/orga.txt
/laravel5.0/checkout_process.txt
/laravel5.0/shipping_prices.php
/laravel5.0/tarifs poste 2015.pdf

/public_html/pictures
/public_html/fonts
